.toc {
  font-size: 0.9rem;
  color: var(--text);
  position: relative;

  max-height: 80vh; /* 적절한 높이 제한 */
  overflow-y: auto;

  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.toc::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

.item a {
  text-decoration: none;
  color: var(--text);
  opacity: 0.7;
  transition: all 0.3s ease;
  display: block;
  padding: 3px 0;
  border-left: 2px solid transparent;
  padding-left: 12px;
  margin-left: -14px;
}

.item.active {
  transform: translateX(4px);
}

.item a:hover {
  opacity: 1;
  color: #aaddff;
}

.item a.activeLink {
  opacity: 1;
  font-weight: 600;
  color: var(--primary, #3498db);
  border-left: 2px solid var(--primary, #3498db);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(52, 152, 219, 0.1);
  }
}

.level1 {
  margin-left: 0;
  font-weight: 600;
}

.level2 {
  margin-left: 1rem;
}

.level3 {
  margin-left: 2rem;
}